{% extends 'theblog/base.html' %}
{% block title %}
    Edit Profile!
{% endblock %}
{% block content %}
    {% if user.id == profile.user.id %}

    <h1>Edit Profile Page..</h1>
    <br>
    <br>
    <div class="form-group">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">Update</button>
        </form>
    </div>
    {% else %}
        You are not the correct user to edit this pagef
    {% endif %}


{% endblock %}